.subcontainer{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.subs-list{
    display: flex;
    justify-content: space-between;
}

.sub-box{
    height: 12rem;
    width: 12rem;
    border: solid 2px rgba(204,204,204, .6);
    border-radius: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub-box a:link,
.sub-box a:visited,
.sub-box a:hover,
.sub-box a:active{
    margin-top: 20%;
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
    color: black;
}

.sub-img{
    height: 5rem;
    width: 5rem;
    background-color: #92d62e;
    border-radius: 50%;
    margin-top: 10%;
}

button{
    margin-top: .5rem;
    margin-left: 50%;
    border: none;
    outline: none;
    transform: translateX(-50%);
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
    color: #92d62e;
    width: 4rem;
}