.searchBar {
    padding: .4rem;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    border-radius: 22px;
    width: 30%;
}
.searchBar:focus {
    outline:none;
}

.searchBar::placeholder{
    color: #CCCCCC;
}