svg {
    height: 3rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 4rem;
    overflow: hidden;
}


.icons{
    width: 20rem;
    display: flex;
    justify-content: space-around;
    position: relative;

}

.icon {
    color: #92d62e;
}
.user{
    display: flex;
}
.user h4{
    font-weight: 700;
}
.user .icon{
    margin-left: 2rem;
}
